<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello!</title>
    </head>
    <body>
        @{
            List<string> StringList = new List<string>() {"Neil Gaiman", "Terry Pratchet", "Jane Austen", "Stephen King", "Mary Shelley"};

                <h1>Here is a List of Users</h1>
                @foreach(string names in StringList)
                {
                    <div>
                        <p>@names</p>
                    </div>
                }
        }
    </body>
</html>